<!DOCTYPE html>
<html>
    <head>
        <title>User Detail</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/users">User List</a></h3>
            <h1>User Detail</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>{{ user.age }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
            <h3><a href="/users/edit/{{ user._id }}">EDIT</a></h3>
            <form action="/users/delete/{{ user._id }}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </div>
    </body>
</html>